.main {
    /*border: 2px solid #000;*/
    margin: 0px 5px 5px 5px;
    /*background-color: lawngreen;*/
    overflow: hidden;
    vertical-align: middle;
    padding-top: 5px;
}

.box{
    
    border: 2px solid #000;
}

.left {
    float: left;
    width: 59%;
    padding: 3px;
    /*border: 2px solid #000;*/
}

.stack {
    float: right;
    width: 40%;
    /*border: 2px solid #000;*/
}
/*.card {
    overflow: hidden;
    background-color: white;
    width: 90%;
    margin-left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin: auto;
    padding: 5px 5px 10px 5px;
  }*/

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 100px;  
  }

.stack div {
    margin-bottom: 15px;
}

@media screen and (max-width: 900px) {
    .stack, .left {
        float: none;
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }
}