.card {
    margin: "auto";
}

.wrapper {
    padding: 10px;
    /*border: 1px solid black;*/
}

.card label{
    font-style: italic;
    font-weight: lighter bold;
}

.card .btn {
    background-color:#007bff;
    color: white;
    width: 35%;
  }

  .card p {
    font-style: italic;
    font-weight: lighter;
    font-size: medium;  
  }

@media screen and (max-width: 900px) {
    .stack, .left {
        float: none;
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }
}