.header {
  margin-bottom: 20px;
}
.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 7px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
  }

  .profile {
    height: 25px;
    width: 25px;
  }

    .btn-dropdown {
      background-color:#343a40;
      color: white;
      border:none;
      padding: 0px;
    }

    .btn:hover {
      color: white;
    }
    .btn:focus {
      outline: none;
      box-shadow: none;
    }

    .btn-xxl {
      padding: 1rem 1.5rem;
      font-size: 1.5rem;
    }

  @media screen and (max-width: 770px) {
    .profile{
      display: none;
    }

  }