.box{
    
    border: 1px solid lawngreen;
}
.bd {
    border: 1px solid black;
}

.payment {
    padding: 1% 0; 
}

.center{
    height: 85vh;
    padding-top: 5%;
    padding-bottom: 5%;

}

 @media screen and (min-width: 576px) {
    .mobile{
      display: none;
    }

  }
 