.bd {
  border: 1px solid lawngreen;
}

  .blur {
    background-color: rgba(255, 255, 255, .05);  
    backdrop-filter: blur(5px);
  }
  .bg-img {
    background-image: url("../img/doodle.jpg");
    height: 100vh;
    text-align: center;
    background-repeat: repeat;

  }
  
  @media screen and (orientation:landscape) 
  and (min-device-width: 375px) 
  and (max-device-width: 815px){
    .bg-img {
      height: 115vh;
    }

    .land-card label{
      display: none;
    }
 }